services:
  nginx:
    container_name: nginx
    build:
      context: requirements/nginx
    image: nginx
    networks:
      - wordpress
      - adminer
      - monitoring
    depends_on:
      wordpress:
        condition: service_started
      website:
        condition: service_started
    restart: unless-stopped
    init: true
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html:ro
    secrets:
      - ssl_certificate
      - ssl_key
    healthcheck:
      test: ["CMD", "curl", "-k", "-f", "https://localhost:443/"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 15s

  mariadb:
    container_name: mariadb
    build:
      context: requirements/mariadb
    image: mariadb
    networks:
      - database
    restart: unless-stopped
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./requirements/mariadb/conf:/docker-entrypoint-initdb.d/
    secrets:
      - mariadb_root_password
      - mariadb_database
      - mariadb_user
      - mariadb_password
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 30s

  wordpress:
    container_name: wordpress
    build:
      context: requirements/wordpress
    image: wordpress
    networks:
      - wordpress
      - database
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    restart: unless-stopped
    secrets:
      - mariadb_database
      - mariadb_user
      - mariadb_password
      - wp_admin
      - wp_public_user_password
    environment:
      - DOMAIN=${DOMAIN}
    volumes:
      - wordpress_data:/var/www/html

  website:
    container_name: website
    build:
      context: requirements/bonus/static-website
    image: website
    networks:
      - wordpress
    restart: unless-stopped
    init: true

  redis:
    container_name: redis
    build:
      context: requirements/bonus/redis
    image: redis
    networks:
      - wordpress
      - database
    restart: unless-stopped
    init: true
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

  vsftpd:
    container_name: vsftpd
    build:
      context: requirements/bonus/vsftpd
    image: vsftpd
    networks:
      - wordpress
    depends_on:
      wordpress:
        condition: service_started
    restart: unless-stopped
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
    secrets:
      - ftp_user
      - ftp_password
    volumes:
      - wordpress_data:/var/www/html

  adminer:
    container_name: adminer
    build:
      context: requirements/bonus/adminer
    image: adminer
    networks:
      - database
      - adminer
    depends_on:
      mariadb:
        condition: service_healthy
    restart: unless-stopped

  cadvisor:
    container_name: cadvisor
    build:
      context: requirements/bonus/cadvisor
    image: cadvisor
    networks:
      - monitoring
    restart: unless-stopped
    init: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro   

  prometheus:
    container_name: prometheus
    build:
      context: requirements/bonus/prometheus
    image: prometheus
    networks:
      - monitoring
    depends_on:
      cadvisor:
        condition: service_started
    restart: unless-stopped
    volumes:
      - ./requirements/bonus/prometheus/conf/prometheus.yml:/etc/prometheus/prometheus.yml:ro

  grafana:
    container_name: grafana
    build:
      context: requirements/bonus/grafana
    image: grafana
    depends_on:
      prometheus:
        condition: service_started
    networks:
      - monitoring
    restart: unless-stopped
    init: true
    secrets:
      - grafana_admin_user
      - grafana_admin_password
    volumes:
      - ./requirements/bonus/grafana/conf/datasources:/usr/share/grafana/conf/provisioning/datasources:ro
      - ./requirements/bonus/grafana/conf/dashboards/dashboard.yml:/usr/share/grafana/conf/provisioning/dashboards/dashboard.yml:ro
      - ./requirements/bonus/grafana/conf/dashboards/json:/usr/share/grafana/conf/provisioning/dashboards/json:ro
      - grafana_data:/var/lib/grafana

volumes:
  mariadb_data:
    name: mariadb
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/gueberso/data/mariadb
  wordpress_data:
    name: wordpress
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/gueberso/data/wordpress
  grafana_data:
    name: grafana
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/gueberso/data/grafana

networks:
  database:
    driver: bridge
    internal: true
    name: database
  wordpress:
    driver: bridge
    name: wordpress
  adminer:
    driver: bridge
    internal: true
    name: adminer
  monitoring:
    driver: bridge
    internal: true
    name: monitoring

secrets:
  mariadb_database:
    file: ../secrets/mariadb/mariadb_database.txt
  mariadb_password:
    file: ../secrets/mariadb/mariadb_password.txt
  mariadb_root_password:
    file: ../secrets/mariadb/mariadb_root_password.txt
  mariadb_user:
    file: ../secrets/mariadb/mariadb_user.txt
  wp_admin:
    file: ../secrets/wordpress/wp_admin.txt
  wp_public_user_password:
    file: ../secrets/wordpress/wp_public_user_password.txt
  ssl_certificate:
    file: ../secrets/ssl/cert.pem
  ssl_key:
    file: ../secrets/ssl/key.pem
  grafana_admin_user:
    file: ../secrets/grafana/grafana_admin_user.txt
  grafana_admin_password:
    file: ../secrets/grafana/grafana_admin_password.txt
  ftp_user:
    file: ../secrets/vsftpd/ftp_user.txt
  ftp_password:
    file: ../secrets/vsftpd/ftp_password.txt
